/*
* @Author: Administrator
* @Date:   2018-10-08 20:55:39
* @Last Modified by:   Administrator
* @Last Modified time: 2018-11-27 23:19:42
*/
body{
	font-family: '微软雅黑';
	color: rgba(31, 37, 38, 0.74902);
}
.banner-left-tit>h3{
	font-size:48px ;
}
.word-con{
	padding-left: 0;
	margin-left: 0;
}
.banner-left-tit{
	padding-top: 18%;
}
.look-detail{
	display: inline-block;
	color: rgb(255, 255, 255);
    background-color: rgb(72, 173, 237);
    padding: 10px 24px 10px 24px;
    border-radius: 50px;
    text-align: center;
    vertical-align: middle;
    width: auto;
    height: auto;
    line-height: 100%;
    margin-bottom: 30%;
    margin-top: 4%;
}
.company-tit{
	font-size: 14px;
	padding: 0px 20px;
    color: rgb(102, 102, 102);
}
.about-tit{
	padding-bottom:20%;
	color: rgb(153, 153, 153);
}
.service-wrap .row{
	margin-left: 0;
	margin-right: 0;
}
.service-wrap{
	background-color: rgba(2, 28, 65, 0.64);
	padding-bottom: 2%;
}
/* 大型屏幕 */
@media (min-width: 1200px){
	.con{
		width: 1200px;
		padding: 0;
	}	
	.word-con{
		margin-left: auto;
	}
	.lg{
		width: auto;
		height: 36px;
	}
	
}
/* 中等屏幕 */
@media (min-width: 992px) and (max-width:1199px){
	.lg{
		width: auto;
		height: 36px;
	}
}
/* paid端 */
@media (max-width: 991px) and (min-width: 769px){
	.lg{
		width: auto;
		height: 23px;
	}
	.tb-pic{
		display: none;
	}

}
/* 手机端 */
@media (max-width:768px){
	.conn{
		padding: 0;
		margin-right: 0;
	}
	.lg{
		width: auto;
		height: 23px;
	}
	.banner-left-tit>h3{
		font-size:28px ;
	}
	.banner-left-tit{
		padding-top: 7%;
	}
	.navbar-header{
		position: relative;
		background: rgb(0,0,0)
	}
	.navbar-default .navbar-toggle{
		border: none;
	}
	.navbar-default .navbar-toggle:hover{
		opacity: 0
	}
	.navbar-collapse{
		position: absolute;
		width: 100%;
		top: 49px;
		left: 16px;
		z-index: 7;
		background: rgb(0, 0, 0);
		border: none;
		padding: 0px 10%;
	}
	#bs-example-navbar-collapse-1 .nav-item li a{
		font-size: 14px;
		color:#999 ;
		background:none;
		line-height: 30px;
		font-weight: normal;
		border-bottom: 1px solid #333;
	}
	.look-detail{
		margin-bottom: 10%;
    	margin-top: 4%;
	}
	.thumbnail .caption{
		padding-left: 9%;
	}
	.row .company-left{
		padding-right: 0;
	}
	img{
		margin: 0 auto;
	}
	.company-tit{
		font-size: 12px;
		padding: 0px 50px;
	}
	.section-use img{
		opacity: 0
	}
	.partnerfix{
		display: none;
	}
	.about-tit{
		padding-bottom: 2%;
	}
	.service-wrap{
		padding-bottom: 17%;
	}
	
}

.mynav{
	background: #fff;
	border: 0;
	border-radius:0;
	margin-bottom: 0;
}
.company-right .lookfix{
	margin-bottom: 0;
}
.mycoll{
	padding: 0;
}
.navbar-default .nav-item>li>a{
	padding-top: 10px;
	padding-bottom: 10px;
	color: rgb(72, 173, 237);
	font-size:16px ;
	font-weight: bold;
	line-height: 3.01em;
}
.navbar-default .nav-item>li:hover a{
	color: #fff;
	background: #48aded
}
.nav-item>li>a.current{
	color: #fff;
	background: #48aded;
}
.content-bg{
	width: 100%;
	height: 100%;
	position: fixed;
	background-repeat: no-repeat;
	background: url('../images/19894_jb4uzznc.jpg');
    background-position: 50% 50%;
    background-size: cover;
    z-index: -1
}
/* .content-second-bg>div:nth-of-type(1){
	width: 100%;
	height: 50%;
	position: fixed;
	top: 0;
	left: 0;
	background-repeat: no-repeat;
	background: url('../images/19894_jb4vw38b (1).jpg');
    background-position: 50% 50%;
    background-size: cover;
    z-index: -1
} */
.content-second-bg>div:nth-of-type(1){
	width: 100%;
	height: 100%;
	position: fixed;
	background-repeat: no-repeat;
	background: url('../images/19894_jb6i66hw.jpg');
    background-position: 50% 50%;
    background-size: cover;
    z-index: -1
}
.about-con-bgc{
	background-color: rgba(2, 28, 65, 0.64);
}
.content-five-bg{
	width: 100%;
	height: 100%;
	position: fixed;
	background-repeat: no-repeat;
	background: url('../images/19894_jb65tqml (2).jpg');
    background-position: 50% 50%;
    background-size: cover;
    z-index: -1
}
.section-use{
	background: #f8f8f8;
}
.content-editor{
	padding-bottom: 5%;
}
.section-title{
	color: #fff;
	font-weight: 700;
	padding-left: 50px;
}
.section-titles{
	color: #fff;
	font-weight: 700;
	padding-left: 0;
}
.ss-right{
	background: #173f8d;
}
.ss-left{
	background: #f8f8f8;
}
.episode-date{
}
.dd{
	position: relative;
}
.company{
	color: #fff;
}
.company h3{
	font-size: 16px;
}
.company p{
	font-size: 14px;
}
.use-icon{
	position: absolute;
	top: 28px;
	left: 63px;
}
.use-left-icon{
	position: absolute;
	top: 28px;
	right: 61px;
}
.ss-left h3{
	color: rgb(0,0,0);
	text-align: right;
}
.ss-left p{
	color: rgb(0, 0, 0);
	text-align: right;
}
.left-title{
	padding-right: 50px;
}
.left-btn{
	float: right;
	margin-right: 50px;
	margin-top: 40px;
	margin-bottom: 50px!important;
}
.right-btn{
	margin-top: 40px;
	margin-left: 50px;
	margin-bottom: 50px!important;
}
.content-four-bg{
	width: 100%;
	height: 100%;
	position: fixed;
	background-repeat: no-repeat;
	background: url('../images/19894_jb65tqml (2).jpg');
    background-position: 50% 50%;
    background-size: cover;
    z-index: -1
}
.item-three-banner{
	background: url('../images/19894_jb4uk1zs.jpg');
}
.item-four-banner{
	background: url('../images/19894_jb4vwfib.jpg');
}
.banner-bg{
	background-color: rgba(2, 28, 65, 0.64);
}
.banner-left-tit>h3{
	color: #fff;
	font-weight: 700;
}
.banner-left-tit>p{
	font-size: 18px;
	color: rgb(162,220,255);
}
.banner-left-tit>p:nth-of-type(1){
	margin-top: 40px;
	margin-bottom: 20px;
}
.manage{
	overflow: hidden;
	margin: 2.4% 0 4% 0;
}
.oursys{
	text-align: center;
	color: rgb(0, 0, 0);
	font-size: 26px;
	font-weight: 700;
}
.manage li{
	width: 20%;
	float: left;
	list-style: none;
	border: 1px solid #eee;
	padding: 40px 20px;
	cursor: pointer;
}
.manage li:hover{
	box-shadow: 0px 0px 10px -1px #aaa;
	border: none; 
}
.line-big{
	text-align: center;
	height: 10px;
}
.line-big img{
	margin: 0 auto;
}
.manage li:last-child{
	border: none;
}
.manage h4{
	text-align: center;
}
.manage p{
	text-align: center;
}
.content{
	background: #fff;
	overflow: hidden;
}
.manage-show{
	text-align: center;
}
li .manage-show img{
	margin: 0 auto;
}
.sizeimg{
	width: 583px;
	height: 328px;
	overflow: hidden;
}
.content-editor{
	background: #f8f8f8;
}
.set-meal-item{
	padding: 28px;
	color: rgba(31,37,38,.75)
}
.set-meal-item p{
	text-align: center;
	border-bottom: 1px solid #eee;
	padding: 5px 0px;
	color: #d2d2d2;
}
.set-meal-item .kown-about{
	text-align: center;
	color: #999;
}
.set-meal{
	
}
.set-meal>p{
	text-align: center;
	line-height: 1.5;
	border-bottom: none;
}
.set-meal>p>span:nth-of-type(1){
	color: rgb(102, 185, 224);
	font-size: 22px;
}
.set-meal>p>span:nth-of-type(2){
	color: rgb(102, 185, 224); 
	font-size: 36px;
}
.set-meal>p>span:nth-of-type(3){
	color: rgb(204, 204, 204);
	font-size: 22px;
}
hr{
	border-color:rgb(72, 173, 237);
}
.hr-second{
	border-color: rgb(230, 230,230);
}
.kwon-btn{
	text-align: center;
}
.kown-more{
	display: inline-block;
	padding: 7px 30px;
	border: 1px solid rgb(72, 173, 237);
    font-weight: bold;
    text-align: center;
    color: #00b1f2;
    border-radius: 100px;
    margin-top: 26px;
}
.kown-more:hover{
	color: #fff;
	background: #00b1f2;
	text-decoration: none;
}
.service-wrap h2{
	font-weight: 700;
	font-size: 22px;
	color: rgb(73,174, 237);
	font-family: '微软雅黑'
}
.mythum{
	border: 0;
	border-radius: 0;
	margin-bottom: 0;
}
.row-service{
	background: rgba(255,255,255,0.8);
	margin-bottom: 20px;
	padding: 30px 20px;
}
.row-service:nth-of-type(2n-1){
	margin-right: 25px;
}
.row-service:nth-of-type(2n){
	margin-left: 40px;
}
.myrow{
	padding-bottom: 4%;
}
.item-tits{
	color: #555;
	font-family: '微软雅黑';
}
.container .thumbnail{
	border-radius: 0;
}
.item-wrap{
	background: #fff;
}
.colfix{
	padding-left: 2px;
	padding-right: 0;
}
.about-you{
	font-size: 26px;
	/* color: rgb(51, 51, 51); */
	font-weight: 700;
	font-family: Arial, Helvetica, sans-serif;
}
.about-refer{
	text-align: center;
	font-size: 20px;
	font-weight: 700;
	font-family: Arial, Helvetica, sans-serif;
}

.form-control{
	padding: 6px 12px;
}
.about-big{
	text-align: left;
}
.line-big .fr-fil{
	width: 50px;
	margin-left: 0;
}
.fr-fils{
	width: 50px;
	margin-left: auto;
}
img.fr-dib {
    margin: 5px auto;
    display: block;
    float: none;
    vertical-align: top;
    max-width: 100%;
    max-height: initial;
}
.thumbnail{
	border: 0;
}
.thumbnail .about-caption{
	padding-bottom: 3%;
}
.content-about{
	background: url('../images/19894_jb65tqml (1).jpg');
	background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
}
.title-tit{
	margin-top: 40px;
	font-size: 18px;
	font-weight: bold;
}
.service{
	font-size: 16px;
    color: rgb(187, 187, 187);
    margin-bottom: 10px;
}
.company-row{
	padding: 40px 0;
	background-color: rgba(29, 66, 137, 0.78);
}
.col-md-6{
	padding: 0;
}
.company-left,.company-right,.partner-wrap{
	padding-right: 30px;
	color: #fff;
}
.company-right{
	padding-left: 0;
}
.company-right h3{
	margin-bottom: 20px;
}
.section-tit{
	margin-bottom: 40px;
}
.date-wrap{
	padding-top: 40px;
	padding-bottom: 40px;
	background: #fff;
	overflow: hidden;
}
.data-tip>h3{
	text-align: center;
	font-size: 26px;
	font-weight: 700;
	color: rgba(31,37,38,.75);
	/* margin-bottom: 50px; */
}
.parter{
	position: relative;
	padding-bottom: 18%;
	border-bottom: 1px solid rgb(230,230,230)
}
.triangle{
	position: absolute;
	display: none;
	bottom: -2px;
	left: 50%;
	transform: rotate(46deg);
	border-top:2px solid #2fceff ;
	border-left: 2px solid #2fceff;
	border-right: 2px solid transparent;
	border-bottom: 2px solid transparent;
}	
.parter:hover{
	border-bottom: 2px solid #31b5fc;
}
.parter:hover .triangle{
	display: inline-block;
}
.mythum h4{
	text-align: center;
	margin-top: 20px;
	font-size: 16px;
	color: #666;
}
.partner-wrap{
	padding-bottom: 40px;
	background: #fff;
}
.row-bg{
	background: #fff;
}
.thumbnail .partner-tip>h3{
	font-size: 24px;
	font-family: SimHei;
	color: rgb(51, 51, 51);
	text-align: center;
}
.service-thum{
	background: none;
	text-align: center;
}
.ours-item{
	color: #fff;
}
.partner-tip{
	margin-bottom: 40px;
}
img.fr-dib {
    margin: 5px auto;
    display: block;
    float: none;
    vertical-align: top;
    max-width: 100%;
    max-height: initial;
}
footer{
	padding: 50px 30px;
	background: #1d4289;
}
footer p{
	color: #fff;
}
.content-way{
	padding-bottom: 40px;
}
.logo-icon{
	padding-bottom: 30px;
}
.footer-bottom{
	border-top: 1px solid #466299;
    padding: 1.3% 0;
}
.about-tit>h3{
	font-size: 30px;
}
.about-tit>p{
	font-size: 22px;
	color: #fff;
	margin-top: 0!important;
}
.about-us{
	background: #fff;
}
.section-resources-header {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: #fff;
    /* min-height: 285px; */
    z-index: 0;
}
.top-orange-bar {
    max-height: 551px;
    background-color: rgba(2, 28, 65, 0.64);
    color: rgb(255, 255, 255);
    font-family: Georgia, serif;
	padding: 16% 0;
}
.top-orange-bar>.con>h3{
	font-size: 30px;
	font-weight: 700;
	line-height: 54px;
}
.top-orange-bar>.con>p{
	font-size: 20px;
	font-weight: 700;
}
.why>h3{
	text-align: center;
	font-size: 28px;
	color: rgba(31,37,38,.75);
	font-weight: 700;
}
.mythum{
	margin-top: 40px;
}
.give{
	padding: 0 17px;
	color: #fff;
	background: #1b487f;
}
.give>h3>strong{
	font-size: 22px;
}
.give-row{
	padding: 4.8% 0;
}
.natural-source{
	padding: 5% 0;
}
.natural-source h4>strong{
	font-size: 22px;
	color: rgba(31,37,38,.75);
}
.natural-source p{
	font-size: 14px;
	color: #666;
}
.txt-space{
	padding-right: 9%;
}
.contact-wrap{
	padding:13% 0;
	background-color: rgba(2, 28, 65, 0.64);
}
.contact-wrap h3:nth-of-type(1){
	font-size: 36px;
}
.contact-wrap h3:nth-of-type(2){
	font-size: 20px;
}
.banner-contact-tit{
	color: #fff;
}
.contact-way{
	padding-top: 6.4%;
	padding-bottom: 5%;
	background: #fff;
}
.contact-way span{
	display: block;
	font-family: "Microsoft YaHei", 微软雅黑, MicrosoftJhengHei, 华文细黑, STHeiti, MingLiu;
    font-size: 14px;
    color: rgb(153, 153, 153);
}
.way-pic{
	float: left;
	text-align: center;
	display: table-cell;
    vertical-align: middle;
}
.way-pic img{
	margin: 0 auto;
}
.feature-shortinfo-icon {
    padding: 30px 0 10px;
}
.ss{
	margin-top: 40%;
	margin-left: 40%;
}
.way h2{
	font-size: 16px;
    color: rgb(0, 0, 0);
    font-weight: 700;
}
.way p{
	font-size: 14px;
	color: rgba(31,37,38,.75);
}
input.contact-input {
	padding: 8px 10px;
    min-height: 32px;
    min-width: 120px;
    width: 100%;
    margin-bottom: 20px;
    color: #555;
    background-color: transparent;
    font-size: 14px;
    border: 1px solid #ccc;
    box-shadow: 0px 0px 10px -3px #aaa;
}
input.contact-submit {
	width: 100%;
    color: #fff;
    border: 0;
    background: rgb(29, 66, 137)!important;
    cursor: pointer;
    display: inline-block;
    font-size: 15px;
    padding: 8px 0px;
    margin-top: 10px;
    position: relative;

}
#username{
	margin-top: 5%;
}
.controlfix{
	padding: 8px 10px;
	width: 100%;
	height: 180px;
}
.contact-box{
	padding-bottom: 5%;
	background: #fff;
}